
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body{
    background-color:#eee;
    color:#333;
    font-family: 'Vollkorn', serif;
}
a{
    text-decoration: none;
    color:dodgerblue;
}
a:hover{
    text-decoration:underline;
    color:darkblue;
}

img{
    max-width: 100%;
}

input {
    display:block;
    width:70%;
    margin: 0 auto;
}

h2 {
    text-decoration:underline;
    text-align:center;
}
h3 {
    text-decoration:bold;
}
/*h4{
    border:0.5px solid;
}*/

#navbar {
    background-color:rgb(62, 145, 201);
    position:fixed;
    left:0;
    top:0;
    display:block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

#navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: rgb(62, 145, 201);
}

#navbar li {
    float: left;
}

#navbar li a{
    display:inline-block;
    padding:15px;
    text-decoration:none;
    font-size:1em;
    color:aliceblue;
    text-align: center;
}

#navbar li.active a{
    color: blue;
}

#navbar li a:hover{
    background-color:rgb(232, 240, 255);
    color:black;
}

.myicon{
    color:aliceblue;
    font-size: 1.5em;
    padding:10px;
    display: none;
}
.sm-screen{
    display:block;
}

#wrapper{
    background-color:white;
    padding:2%;
    max-width:1180px;
    position:relative;
    top:40px;
    margin:0 auto;
}
#ADHD{
    background-color:#A8D1EC;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#A8D1EC;
}
#anxiety{
    background-color:#DAF0FF;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#DAF0FF;
}
#bullying{
    background-color:#DAF0FF;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#DAF0FF;
}
#mood{
    background-color:#A8D1EC;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#A8D1EC;
}
#substance{
    background-color:#A8D1EC;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#A8D1EC;
}
#dementia{
    background-color:#DAF0FF;
    border-radius:10px;
    border-style:solid;
    border-width:1em;
    border-color:#DAF0FF;
}
#resource{
    background-color:white;
    position:relative;
    padding:1%;
    text-align:center;
    border:0.5px solid;
    transition: transform .2s; /* Animation */
    width: auto;
    height: auto;
    margin: 0 auto;
}
#resource:hover{
    transform: scale(1.045);
}

#wrapper header{
    height: 120px;
    padding: 10px 20px;
    background-color: rgb(193, 230, 255);
    border-radius: 1em;
}

#main{
    float:left;
    padding: 5px;
    width: 32%;
}

#second{
    float:left;
    padding: 5px;
    width: 32%;     
}

#wrapper aside{
    float:left;
    padding: 5px;
    width: 32%;
}
#wrapper footer{
    clear: both;
    width: 96%;
    background-color:rgb(62, 145, 201);
    color:aliceblue;
    text-align: center;
    height: 150px;
    padding: 25px;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333;
    background-color: #333; /* Modern Browsers */
}

@media screen and (max-width:840px){
    #wrapper{
        width:auto;
    }
    #wrapper header{
        height:auto;
        padding:0;
    }
    #main{
        width:auto;
        float:none;
        margin: 0px;
    }
    
    #second{
        width:auto;
        float:none;
        margin: 0px;    
    }
    
    #wrapper aside{
        width:auto;
        float:none;
        margin: 0px;
        /*padding: 0;
        width: 90%;*/
    }
    #wrapper footer{
        width: auto;
    }

    .sm-screen{
        display: none;
    }
    
    #navbar li {
        float: none;
        display:block;
    }
    
    #navbar li a{
        padding:5px;
        text-align: left;
        width: 100%;
    }
    .myicon{
        display:block;
    }
}

/* */


